body
{
	font-family: Arial, 'Trebuchet MS', sans-serif;
	font-size: 18px;
	color: #2F3131;
}

#CV_bloc
{
	width: 1100px;
	margin: auto;
	border: 2px solid #9A9EAB;
}

.prenom_nom, #bloc_gauche h3, #bloc_droit h3, #bloc_droit section h2
{
	text-transform: uppercase;
}

.prenom_nom, #bloc_droit h3, h4
{
	font-weight: lighter;
}

.position
{
	font-size: 1.5em;
}

header
{
	display: flex;
	flex-direction: row;
	height: 300px;
}

h1
{
	color: #353C3F;
}

h1, .position
{
	margin: 6px;
	padding: 0;
}
figure {
	margin-block-start: 0;
	margin-block-end:  0;
	margin-inline-start:  0;
	margin-inline-end:  0;
}

#photo_profil
{
	width: 35%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #5D535E;
}

img
{
	border: 3px solid;
	border-color: #9A9EAB;
	border-radius: 50%;
	width: 210px;
	height: 210px;
	object-fit: cover;
	object-position: center;
	position: absolute;
	vertical-align: middle;
	margin-top: 1%;
}

#nom
{
	width: 65%;
	margin-left: 4%;
	padding-top: 7%;
}

.prenom_nom
{
	font-size: 3em;
	font-family: 'Trebuchet MS', Arial, sans-serif;
}

.couleur
{
	color: #FF420E;
}

.surligne
{
	border-bottom: 4px solid #FF420E;
}

#info_CV
{
	display: flex;
}

#bloc_gauche
{
	width: 35%;
	background-color: #5D535E;
	display: flex;
	flex-direction: column;
}

#bloc_gauche section p
{
	margin-top: 40px;
	margin-left: 45px;
	margin-right: 49px;
	margin-bottom: 40px;
}

#resume p
{
	text-align: justify;
}

#resume
{
	flex-grow: 1;
}

#bloc_gauche h3
{
	color: #5D535E;
	background-color: #F0EFEA;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
	padding-top: 0px;
}

#bloc_gauche, h3
{
	margin: 0;
	padding: 0;
}

#bloc_gauche section p, #bloc_gauche section i
{
	color: #FAFAFA;
}

#icone_loisirs
{
	display: flex;
	justify-content: space-around;
	padding: 15px 40px 20px 40px;
}

.loisirs
{
	text-align: center;
	vertical-align: middle;
	font-size: 50px;
	border: 2px solid #FAFAFA;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	line-height: 70px;
}

#bloc_droit
{
	width: 60%;
	padding-top: 2%;
	margin-left: 4%;
	margin-right: 5%;

}

#bloc_droit section h2
{
	text-transform: uppercase;
	color: #2F3131;
	border-bottom: 3px solid #9A9EAB;
	padding-bottom: 10px;
}

.ligne
{
	display: flex;
	align-items: baseline;
}

.date
{
	font-size: 0.9em;
	width: 20%;
	margin-right: 2%;
}

.description
{
	width: 80%;
}

.description p
{
	text-align: justify;
}

#referents
{
	display: flex;
}

.nom_referent
{
	width: 60%;
}

.ico
{
	margin-right: 40px;
	color: #9A9EAB;
}

.puce_solide, .puce_transparente
{
	font-size: 0.5em;
	color: #9A9EAB;
	margin-right: 6px;
}


@media screen and (max-width: 991px)
{

	#CV_bloc
	{
		width: auto;
	}

	header
	{
		flex-direction: column;
		width: auto;
		height: 25em;
		background-color: #5D535E;
		padding-bottom: 5%;
	}

	h1
	{
		font-size: 2em;
		color: #F0EFEA;
	}

	#photo_profil
	{
		width: auto;
		height: 60%;
		padding-bottom: 1.2em;
		padding-top: 2%;
		background-color: transparent;
	}

	#nom
	{
		width: auto;
		text-align: center;
		padding-top: 2%;
	}

	#info_CV
	{
		width: auto;
		flex-direction: column;
	}

	#bloc_gauche
	{
		width: auto;
	}

	#details p
	{
		text-align: center;
	}

	#bloc_droit
	{
		width: auto;
	}

	#bloc_droit h2
	{
		font-size: 1em;
	}
	#details, h3
	{
		margin: 0;
		padding: 0;
	}

	#icone_loisirs
	{
		padding-top: 3%;
	}

}

@media screen and (max-width: 700px)

{

	#bloc_droit h3
	{
		font-size: 1em;
	}

	#referents
	{
		flex-direction: column;
		text-align: center;
		justify-content: center;
	}

	.nom_referent
	{
		width: auto;
	}

	h1
	{
		font-size: 1.5em;
		color: #F0EFEA;
	}

}