body {
	font-family: Arial, 'Trebuchet MS', sans-serif;
	font-size: 18px;
	color: #2F3131;
	width: 1100px;
	margin: auto;
	border: 2px solid #9A9EAB;
}


.prenom_nom,
#bloc_gauche h3,
main h3,
main section h2 {
	text-transform: uppercase;
}

.prenom_nom,
main h3,
h4 {
	font-weight: lighter;
}

/******HEADER*****/

header {
	display: flex;
	flex-direction: row-reverse;
	height: 300px;
}

/******HEADER-partie droite*****/

header section {
	width: 62%;
	padding-top: 7%;
	margin-left: 4%;
}

h1 {
	color: #353C3F;
}

.position {
	font-size: 1.5em;
}

h1, .position {
	margin: 6px;
	padding: 0;
}

.prenom_nom {
	font-size: 3em;
	font-family: 'Trebuchet MS', Arial, sans-serif;
}

.couleur {
	color: #FF420E;
}

.surligne {
	border-bottom: 4px solid #FF420E;
}

/******HEADER-partie gauche*****/

figure {
	margin-block-start: 0;
	margin-block-end:  0;
	margin-inline-start:  0;
	margin-inline-end:  0;
	width: 34%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #5D535E;
}

img {
	border: 3px solid;
	border-color: #9A9EAB;
	border-radius: 50%;
	width: 210px;
	height: 210px;
	object-fit: cover;
	object-position: center;
	position: absolute;
	vertical-align: middle;
	margin-top: 1%;
}

/******Informations personnelles + CV détaillé *****/

/******mise en page div="info_CV******/

#info_CV {
	display: flex;
	flex-direction: row-reverse;
}

/******Info_CV-Bloc_Gauche******/

#bloc_gauche {
	width: 34%;
	background-color: #5D535E;
	display: flex;
	flex-direction: column;
}

#bloc_gauche address{
	margin-top: 40px;
	margin-left: 45px;
	margin-right: 49px;
	margin-bottom: 40px;
	display: block;
	font-style: normal;
}

#bloc_gauche section p {
	margin-top: 40px;
	margin-left: 45px;
	margin-right: 49px;
	margin-bottom: 40px;
}

#resume {
	flex-grow: 1;
}

#resume p {
	text-align: justify;
}

#bloc_gauche h3 {
	color: #5D535E;
	background-color: #F0EFEA;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
	padding-top: 0px;
}

#bloc_gauche, h3 {
	margin: 0;
	padding: 0;
}

#bloc_gauche section p,
#bloc_gauche section i,
#bloc_gauche address {
	color: #FAFAFA;
}

#loisirs {
	display: flex;
	justify-content: space-around;
	padding: 15px 40px 20px 40px;
}

#loisirs i {
	text-align: center;
	vertical-align: middle;
	font-size: 50px;
	border: 2px solid #FAFAFA;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	line-height: 70px;
}

/******Info_CV-Bloc_Droit******/

main {
	width: 57%;
	padding-top: 2%;
	margin-right: 5%;
	margin-left: 4%;
}

main section h2 {
	text-transform: uppercase;
	color: #2F3131;
	border-bottom: 3px solid #9A9EAB;
	padding-bottom: 10px;
}

.ico {
	margin-right: 40px;
	color: #9A9EAB;
}

.puce_solide, .puce_transparente {
	font-size: 0.5em;
	color: #9A9EAB;
	margin-right: 6px;
}

/******Info_CV-Bloc_Droit-Sections FORMATIONS ET EXPERIENCE******/

ul{
	padding-inline-start: 0;
}

.ligne {
	display: flex;
	align-items: baseline;
}

.date {
	font-size: 0.9em;
	width: 20%;
	margin-right: 2%;
}

.description {
	width: 80%;
}

.description p {
	text-align: justify;
}

/******Info CV-Bloc_Droit- Section recommandations******/

#referents {
	display: flex;
	margin-bottom: 4%;
}

.nom_referent {
	width: 60%;
	font-style: normal;
}

/****** Partie responsive- Media queries******/

@media screen and (max-width: 991px)

{
	body{
		width: auto;
	}

	header {
		flex-direction: column-reverse;
		width: auto;
		height: 25em;
		background-color: #5D535E;
		padding-bottom: 5%;
	}

	h1 {
		font-size: 2em;
		color: #F0EFEA;
	}

	figure {
		width: auto;
		height: 60%;
		padding-bottom: 1.2em;
		padding-top: 2%;
		background-color: transparent;
	}

	#nom {
		width: auto;
		text-align: center;
		padding-top: 2%;
	}

	#info_CV {
		width: auto;
		flex-direction: column;
	}

	#bloc_gauche {
		width: auto;
	}

	#details p {
		text-align: center;
	}

	main {
		width: auto;
	}

	main h2 {
		font-size: 1em;
	}

	#details,
	h3 {
		margin: 0;
		padding: 0;
	}

	#loisirs i {
		padding-top: 3%;
	}

	#details address {
		text-align: center;
	}
}

@media screen and (max-width: 575px)

{
	h1 {
		font-size: 1.5em;
		color: #F0EFEA;
	}

	main h2 {
		text-align: center;
	}

	main h3 {
		font-size: 1em;
	}

	li {
		flex-direction: column;
		width: auto;
	}

	.description p{
		text-align: justify;
	}
	.date
	{
		font-weight: bold;
		color: #FF420E;
	}
	.date, .description {
		width: 100%;
	}

	.date,
	.description h3,
	.description h4 {
		align-items: center;
		text-align: center;
	}
	h3, h4 {
		margin: 0;
		padding: 0;
	}
	#referents {
		flex-direction: column;
		text-align: center;
		justify-content: center;
	}

	.nom_referent {
		margin-bottom: 20px;
		width: auto;
	}

	.ligne .puce_solide,
	.ligne .puce_transparente {
		display: none;
	}
	.ligne{
		margin-bottom: 18px;
	}

	ul{
		margin-bottom: 40px;
	}

}

