body
{
	font-family: Arial, 'Trebuchet MS', sans-serif;
	font-size: 18px;
	color: #2F3131;
}

#CV_bloc
{
	width: 1100px;
	display: flex;
	margin: auto;
	border: 2px solid #9A9EAB;
}

#bloc_gauche
{
	width: 35%;
	background-color: #5D535E;
	display: flex;
	flex-direction: column;
}

#photo_profil
{
	height: 230px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
	margin-bottom: 4%;
}

img
{
	border: 3px solid;
	border-color: #9A9EAB;
	border-radius: 50%;
	width: 210px;
	height: 210px;
	object-fit: cover;
	object-position: center;
	position: absolute;
	vertical-align: middle;
}

#bloc_gauche h3
{
	color: #5D535E;
	background-color: #F0EFEA;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
}

#bloc_gauche section p
{
	margin: 40px 49px 38px 45px;

}

#bloc_gauche section p, #bloc_gauche section i
{
	color: #FAFAFA;
}

#resume
{
	flex-grow: 1;
}
#resume p
{
	text-align: justify;
}

#icone_loisirs
{
	display: flex;
	justify-content: space-around;
	padding: 5px 40px 20px 40px;
}

.loisirs
{
	text-align: center;
	vertical-align: middle;
	font-size: 50px;
	border: 2px solid #FAFAFA;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	line-height: 70px;
}

#bloc_droit
{
	width: 60%;
	padding-top: 2%;
	margin-left: 4%;
	margin-right: 5%;
}

.prenom_nom, #bloc_gauche h3, #bloc_droit h3, #bloc_droit section h2
{
	text-transform: uppercase;
}

.prenom_nom, #bloc_droit h3, h4
{
	font-weight: lighter;
}

header
{
	height: 240px;
	padding-top: 9%;
}

.prenom_nom
{
	font-size: 3em;
	font-family: 'Trebuchet MS', Arial, sans-serif;
}

h1, .position
{
	margin: 6px;
	padding: 0;
}

.couleur
{
	color: #FF420E;
}

.surligne
{
	border-bottom: 4px solid #FF420E;
}

#bloc_droit section h2
{
	text-transform: uppercase;
	color: #2F3131;
	border-bottom: 3px solid #9A9EAB;
	padding-bottom: 10px;
}

.ligne
{
	display: flex;
	align-items: baseline;
}

.date
{
	font-size: 0.9em;
	width: 20%;
	margin-right: 2%;
}

.description
{
	width: 80%;
}

.description p
{
	text-align: justify;
}

#referents
{
	display: flex;
}

.nom_referent
{
	width: 60%;
}

.ico
{
	margin-right: 40px;
	color: #9A9EAB;
}

.puce_solide, .puce_transparente
{
	font-size: 0.5em;
	color: #9A9EAB;
	margin-right: 6px;
}

@media screen and (max-width: 991px)
{

	#CV_bloc
	{
		width: auto;
		flex-direction: column;
	}

	#bloc_gauche
	{
		width: auto;
	}

	#details p
	{
		text-align: center;
	}

	#bloc_droit
	{
		width: auto;
	}

	#bloc_droit h2
	{
		font-size: 1em;
	}

	header
	{
		width: auto;
		text-align: center;
	}

	#photo_profil
	{
		width: auto;
		display: flex;
		justify-content: center;
		align-items: center;

	}
	@media screen and (max-width: 700px)

	{
		#referents
		{
			flex-direction: column;
			text-align: center;
			justify-content: center;
		}

		.nom_referent
		{
			width: auto;
		}
	}
		h1
		{
			font-size: 1.5em;
			color: #2F3131;
		}
}